.City{
    float: left;
   

}
.District{
    float: left;
}
.Neighbor{
    float: left;
}
.elements{
    float: left;
    margin-top: 40px;
}

.box-row {
    width: 600px;
}

.dropdown-input {
    width: 200px;
}

